{% extends 'base.html' %}

{% block title %}Blog | Detalhes{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    {% if user.is_authenticated and user == post.author %}
        <a class="btn btn-warning" href="{% url 'post-update' post.id %}">Atualizar</a>
        <a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Deletar</a>
     {% endif %}

    <h1>Detalhes do Post: {{post.title}}</h1>

    <p>{{post.create_at}}</p> 

    <p>Criado por: {{ post.author.username }}</p>

    {% if post.image %}
    <img src="{{post.image.url}}" width="25%" alt="{{post.title}}">
    {% else %}
           <p>Sem imagem disponível.</p>
    {% endif %}
    <p>{{post.description}}</p>  

</div>
{% endblock content %}