{% extends 'base.html' %}

{% block title %}Blog | Posts{% endblock %}

{% block content %}
  <h1>Todos Posts</h1>
  <div class="container">
    <div class="row justify-content-center"> <!-- Centraliza o conteúdo -->
      {% for post in posts %} 
        <div class="col-12 col-md-8 my-4"> <!-- Ajusta a largura e o espaçamento dos cards -->
          <div class="card h-100 text-bg-light mx-auto" style="max-width: 700px; padding: 1rem;"> <!-- Limita a largura e centraliza -->
            <h3 class="card-text">{{ post.title }}</h3>
            {% if post.image %}
              <img src="{{ post.image.url }}" class="card-img-top" style="width: 100%; height: 300px; object-fit: cover;" alt="{{ post.title }}">
            {% else %}
              <p>Sem imagem disponível.</p>
            {% endif %}
            <div class="card-body">
              <p>Criado por: {{ post.author.username }}</p>
			  <p>Data: {{post.create_at}}</p>
              <a class="btn btn-info" href="{% url 'post-detail' post.id %}">Ver</a>
            </div>
          </div> 
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
